.row {
    // Size/Center
    max-width: $grid-width;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    // Vertical Margins
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include clearfix;

    // Columns
    [class^="col-"] {
        float: left;

        // Space between columns
        &:not(:last-child) {
            margin-right: $gutter-horizontal-small;
        }

        @include respond(tab-port) {
            // Size/Margins/Center
            width: 80% !important;
            margin: 0rem 0rem 3rem 0rem;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            float: none;        
        }
        @include respond(phone) {
            width: 90% !important;
        }
    }

    // Column Widths
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }

}