// ----- COLORS

// Layout Theme
$color-primary: #f9d342;
$color-primary-light: #fbe177;
$color-primary-dark: #ffae17;

$color-secondary: #292826;
$color-secondary-light: #5d5950;
$color-secondary-dark: #0f0f0e;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

// $color-primary: #539ff6;
// $color-primary-light: #62cdff;
// $color-primary-dark: #243665;

// $color-secondary: #8bd8bd;
// $color-secondary-light: #b5e2d2;
// $color-secondary-dark: #40856d;

// Font Colors
$color-grey-light-1: #ececec;
$color-grey-light-2: #cacaca;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// ----- FONT
$default-font-size: 1.6rem;


// ----- GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


