.bars {
  width: 80%;
  margin: 0 auto;
}

.bar-skill  {
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 2rem;
  font-size: $default-font-size;
  color: $color-grey-dark-3 ;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);

  &-neg {
    background-color: #111;
  }

  &-text-neg {
    color: $color-grey-light-1;
  }

  &::before{
    content:  attr(data-skill);
    background-color: #b0beff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }

  &:hover {
    transform: scaleX(1.05) scaleY(1.05);
    transition: all .2s;
  }

  // Main Skills
  &.js::before{
    background-color: #ffd92e;
  }
  &.html::before{
    background-color: #ffa33a;
  }
  &.react::before{
    background-color: #3abdff;
  }
  &.angular::before{
    background-color: #ff4242;
  }
  &.css::before{
    background-color: #b342ff;
  }
  // Other Skills
  &.sql::before{
    background-color: #a9e7ff;
  }
  &.cpp::before{
    background-color: #a1b3ff;
  }
  &.unity::before{
    background-color: #ffffff;
  }
  &.blender::before{
    background-color: #ffc186;
  }
  &.node::before{
    background-color: #94ffa6;
  }
  &.scrum::before{
    background-color: #bfbbff;
  }
  // Languages
  &.portuguese::before{
    background-color: #75fb8b;
  }
  &.english::before{
    background-color: #fb4747;
  }
  &.french::before{
    background-color: #2848ff;
  }
  &.spanish::before{
    background-color: #fbff23;
  }
  &.german::before{
    background-color: #4e5546;
  }

  &.qty20::before{
    width: calc(20% - 10px);
  }
  &.qty30::before{
    width: calc(30% - 10px);
  }
  &.qty40::before{
    width: calc(40% - 10px);
  }
  &.qty50::before{
    width: calc(50% - 10px);
  }
  &.qty60::before{
    width: calc(60% - 10px);
  }
  &.qty70::before{
    width: calc(70% - 10px);
  }
  &.qty80::before{
    width: calc(80% - 10px);
  }
  &.qty90::before{
    width: calc(90% - 10px);
  }
  &.qty100::before{
    width: calc(100% - 10px);
  }

}



