.presentation {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    padding: 6rem;
    // padding-left: 9rem;
    font-size: $default-font-size;

    @include respond(tab-port) {
        max-width: 90%;
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    &__text {
        display: block;
    }

    &__header {
        font-size: 4rem;
        padding-right: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary-light);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
        transition: all .2s;
    
        @include respond(tab-land) {
            font-size: 3.2rem;
        }

        @include respond(tab-port) {
            font-size: 3.5rem;
        }
    
        &:hover {
            transform: scale(1.01);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    
        &-neg {
            background-image: linear-gradient(to right, $color-primary, $color-primary-light);
        }
    }

    &__shape {
        width: 30rem;
        height: 30rem;
        float: left;
        transform: translateX(-3rem);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }

        // @include respond(tab-port) {
        //     display: block;
        //     float: none;
        //     transform: translateX(-3rem);
        // }
    }

    &__img {
        height: 100%;
        transform: translateX(0rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
        filter: blur(3px) brightness(80%);
    }

    &__caption {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: $color-white;
        text-transform: uppercase;
        // font-size: $default-font-size;
        font-size: 5rem;
        text-align: center;
        opacity: 1;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(0rem) scale(1);
        filter: blur(0px) brightness(100%);
    }
}