.section-about {
    color: $color-primary-light;
    // padding: 25rem 0;
    margin-top: -6vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-activities {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(5% 10%, 95% 10%, 95% 80%, 75% 80%, 75% 90%, 50% 80%, 5% 80%);
        clip-path: polygon(5% 10%, 95% 10%, 95% 80%, 75% 80%, 75% 90%, 50% 80%, 5% 80%);
        height: 95vh;
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-skills {
    color: $color-primary-light;
    // padding: 25rem 0;
    margin-top: -8vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }

    &-button {
        margin-top: .5rem;
        margin-left: 8rem;
    }
}

.section-experience {
    margin-top: 0vh;
    height: 200vh;
    padding: 5rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(41% 0, 95% 21%, 93% 95%, 46% 100%, 10% 95%, 6% 84%, 4% 21%);
        clip-path: polygon(41% 0, 95% 21%, 93% 95%, 46% 100%, 10% 95%, 6% 84%, 4% 21%);
        // clip-path: polygon(41% 0, 100% 21%, 96% 95%, 46% 100%, 1% 84%, 1% 21%);
        height: 110vh;
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-projects {
    height: 100vh;
    margin-top: 0vh;
    // padding: 5rem 0;

    // background-color: blue;
    color: $color-primary-light;    

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}








// EXPLORE
.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%,
                                    transparent 50%) ,
                            url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
        transparent 65%) ,
url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}